@use 'css-reset';

$primary-tomato: hsl(4, 100%, 67%);
$neutral-slate-grey: hsl(234, 29%, 20%);
$neutral-charcoal-grey: hsl(235, 18%, 26%);
$neutral-grey: hsl(231, 7%, 60%);
$neutral-white: hsl(0, 0%, 100%);
$font-size: 1rem;
$ff: 'Roboto';
$fw-400: 400;
$fw-700: 700;

/* TODO:
     fix color on input outline
     check accessibility on image/bullet points/form
     learn how to import local fonts
     find correct way to hide error text until error occurs
     fix label placement for email on desktop
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400;
    color: $neutral-charcoal-grey;
}

section {
    padding-inline: 1.5rem;
}

h2 {
    color: $neutral-slate-grey;
    font-size: 2.5rem;
    padding-block: 1.5rem;
}

p {
    padding-bottom: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-right: 1.5rem;
}

li {
    background-image: url(../public/images/icon-list.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    min-width: 95%; // watch this on responsive
    padding-inline: 1rem;
    margin-top: 1.5rem;
}

label {
    font-weight: $fw-700;
    font-size: 0.8rem;
    color: $neutral-slate-grey;
}
// attribute selector
input[type='email'] {
    padding: 0.7rem 1rem;
    border: 0.02rem solid $neutral-grey;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    min-width: 100%;
    cursor: pointer;
}

.input-error {
    border: 0.02rem solid $primary-tomato;
    color: $primary-tomato;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

button {
    color: $neutral-white;
    font-weight: $fw-700;
    background-color: $neutral-charcoal-grey;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    min-width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: $primary-tomato;
}

.error {
    color: $primary-tomato;
    font-size: 0.8rem;
    padding-left: 7.5rem;
}

@media(min-width: 50rem) {
  
  main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-inline: 1rem;
    margin-top: 4rem;
  }

  header {
    grid-column: 2;
    grid-row: 1/2;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
  }
}